﻿@model Model.DataModel.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href=@Url.Action("Index","User")>User</a>
        <i class="fa fa-angle-right"></i>Detail
        <i class="fa fa-angle-right"></i>
        @Model.ID
        <i class="fa fa-angle-right"></i>
    </li>
</ol>
<div class="agile-grids">
    <!-- tables -->

    <div class="agile-tables">
        <div class="w3l-table-info">
            <h2>Basic Implementation</h2>
            <table id="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Height</th>
                        <th>Province</th>
                        <th>Sport</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jill Smith</td>
                        <td>25</td>
                        <td>Female</td>
                        <td>5'4</td>
                        <td>British Columbia</td>
                        <td>Volleyball</td>
                    </tr>
                    <tr>
                        <td>John Stone</td>
                        <td>30</td>
                        <td>Male</td>
                        <td>5'9</td>
                        <td>Ontario</td>
                        <td>Badminton</td>
                    </tr>
                    <tr>
                        <td>Jane Strip</td>
                        <td>29</td>
                        <td>Female</td>
                        <td>5'6</td>
                        <td>Manitoba</td>
                        <td>Hockey</td>
                    </tr>
                    <tr>
                        <td>Gary Mountain</td>
                        <td>21</td>
                        <td>Male</td>
                        <td>5'8</td>
                        <td>Alberta</td>
                        <td>Curling</td>
                    </tr>
                    <tr>
                        <td>James Camera</td>
                        <td>31</td>
                        <td>Male</td>
                        <td>6'1</td>
                        <td>British Columbia</td>
                        <td>Hiking</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <code class="js">
            $('#table').basictable();
        </code>
    </div>
</div>

<div class="agile-grids">
    <!-- tables -->

    <div class="agile-tables">
        <table id="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UserName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Phone)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(item => item.GroupID)
                    </td>
                    <td>
                        @Html.DisplayFor(item => item.GroupID)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.MetaDescriptions)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.MetaDescriptions)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.MetaKeyWords)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.MetaKeyWords)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                       @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                       @Html.ActionLink("Back to List", "Index")
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

