﻿@model Model.DataModel.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">User</a><i class="fa fa-angle-right"></i>Edit<i class="fa fa-angle-right"></i></li>
</ol>
<div class="grid-form1">
    <h3>Form Element</h3>
    <div class="tab-content">
        <div class="tab-pane active" id="horizontal-form">
            @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-2 control-label", @for = "focusedinput" })

                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "focusedinput", @placeholder = "Default Input" } })

                    </div>
                    <div class="col-sm-2">
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger help-block" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-sm-2 control-label", @for = "focusedinput" })

                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "focusedinput", @placeholder = "Default Input" } })

                    </div>
                    <div class="col-sm-2">
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger help-block" })
                    </div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-sm-2 control-label", @for = "focusedinput" })

                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @id = "focusedinput", @placeholder = "Default Input" } })

                        </div>
                        <div class="col-sm-2">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-2 control-label", @for = "focusedinput" })

                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "focusedinput", @placeholder = "Default Input" } })

                        </div>
                        <div class="col-sm-2">
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col-sm-2 control-label", @for = "focusedinput" })

                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "focusedinput", @placeholder = "Default Input" } })

                        </div>
                        <div class="col-sm-2">
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selector1" class="col-sm-2 control-label">User Group</label>
                        <div class="col-sm-8">
                            <select name="selector1" id="selector1" class="form-control1">
                                <option>Lorem ipsum dolor sit amet.</option>
                                <option>Dolore, ab unde modi est!</option>
                                <option>Illum, fuga minus sit eaque.</option>
                                <option>Consequatur ducimus maiores voluptatum minima.</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selector1" class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="disabledinput" class="col-sm-2 control-label">Disabled Input</label>
                        <div class="col-sm-8">
                            <input disabled="" type="text" class="form-control1" id="disabledinput" placeholder="Disabled Input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control1" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="checkbox" class="col-sm-2 control-label">Checkbox</label>
                        <div class="col-sm-8">
                            <div class="checkbox-inline1"><label><input type="checkbox"> Unchecked</label></div>
                            <div class="checkbox-inline1"><label><input type="checkbox" checked=""> Checked</label></div>
                            <div class="checkbox-inline1"><label><input type="checkbox" disabled=""> Disabled Unchecked</label></div>
                            <div class="checkbox-inline1"><label><input type="checkbox" disabled="" checked=""> Disabled Checked</label></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="checkbox" class="col-sm-2 control-label">Checkbox Inline</label>
                        <div class="col-sm-8">
                            <div class="checkbox-inline"><label><input type="checkbox"> Unchecked</label></div>
                            <div class="checkbox-inline"><label><input type="checkbox" checked=""> Checked</label></div>
                            <div class="checkbox-inline"><label><input type="checkbox" disabled=""> Disabled Unchecked</label></div>
                            <div class="checkbox-inline"><label><input type="checkbox" disabled="" checked=""> Disabled Checked</label></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selector1" class="col-sm-2 control-label">Dropdown Select</label>
                        <div class="col-sm-8">
                            <select name="selector1" id="selector1" class="form-control1">
                                <option>Lorem ipsum dolor sit amet.</option>
                                <option>Dolore, ab unde modi est!</option>
                                <option>Illum, fuga minus sit eaque.</option>
                                <option>Consequatur ducimus maiores voluptatum minima.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Multiple Select</label>
                        <div class="col-sm-8">
                            <select multiple="" class="form-control1">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtarea1" class="col-sm-2 control-label">Textarea</label>
                        <div class="col-sm-8"><textarea name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1"></textarea></div>
                    </div>
                    <div class="form-group">
                        <label for="radio" class="col-sm-2 control-label">Radio</label>
                        <div class="col-sm-8">
                            <div class="radio block"><label><input type="radio"> Unchecked</label></div>
                            <div class="radio block"><label><input type="radio" checked=""> Checked</label></div>
                            <div class="radio block"><label><input type="radio" disabled=""> Disabled Unchecked</label></div>
                            <div class="radio block"><label><input type="radio" disabled="" checked=""> Disabled Checked</label></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="radio" class="col-sm-2 control-label">Radio Inline</label>
                        <div class="col-sm-8">
                            <div class="radio-inline"><label><input type="radio"> Unchecked</label></div>
                            <div class="radio-inline"><label><input type="radio" checked=""> Checked</label></div>
                            <div class="radio-inline"><label><input type="radio" disabled=""> Disabled Unchecked</label></div>
                            <div class="radio-inline"><label><input type="radio" disabled="" checked=""> Disabled Checked</label></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="smallinput" class="col-sm-2 control-label label-input-sm">Small Input</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control1 input-sm" id="smallinput" placeholder="Small Input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mediuminput" class="col-sm-2 control-label">Medium Input</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control1" id="mediuminput" placeholder="Medium Input">
                        </div>
                    </div>
                    <div class="form-group mb-n">
                        <label for="largeinput" class="col-sm-2 control-label label-input-lg">Large Input</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control1 input-lg" id="largeinput" placeholder="Large Input">
                        </div>
                    </div>
            }

        </div>
    </div>
    <div class="bs-example" data-example-id="form-validation-states">
    </div>
</div>

<div>
    <p>@Html.ActionLink("Back to List", "Index", "User", new { @type = "button", @class = "btn btn-default" })</p>
</div>
