﻿@{
    ViewBag.Title = "Contact";
}
@section script{
    <style>
        #map{
            height:200px;
        }
    </style>
    <script>

      // This example displays a marker at the center of Australia.
      // When the user clicks the marker, an info window opens.
        //10.762589, 106.681991
      function initMap() {
          var uluru = { lat: 10.762589, lng: 106.681991 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: uluru
        });

        var contentString = 'Trường Đại học Khoa học Tự nhiên là một trường đại học thành viên thuộc Đại học Quốc gia Thành phố Hồ Chí Minh';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          title: 'My school'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
      $(function () {
          window.onload = initMap();
      })
</script>
<script
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjjV-RQHJJQw2zzlVscodr2qXwpMdg-vc&callback=initMap">
</script>
}
<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col span_2_of_3">
                <div class="contact-form">
                    <h2>Contact Us</h2>
                    <form method="post" action="contact-post.html">
                        <div>
                            <span><label>Name</label></span>
                            <span><input name="userName" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>E-mail</label></span>
                            <span><input name="userEmail" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>Company Name</label></span>
                            <span><input name="userPhone" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>Subject</label></span>
                            <span><textarea name="userMsg"> </textarea></span>
                        </div>
                        <div>
                            <span><input type="submit" value="Submit" class="myButton"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col span_1_of_3">
                <div class="contact_info">
                    <h3>Find Us Here</h3>
                    <div id="map">
                        
                    </div>
                </div>
                <div class="company_address">
                    <h3>Company Information :</h3>
                    <p>500 Lorem Ipsum Dolor Sit,</p>
                    <p>22-56-2-9 Sit Amet, Lorem,</p>
                    <p>USA</p>
                    <p>Phone:(00) 222 666 444</p>
                    <p>Fax: (000) 000 00 00 0</p>
                    <p>Email: <span>info@mycompany.com</span></p>
                    <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                </div>
            </div>
        </div>
    </div>
</div>