﻿@{
    ViewBag.Title = "Home Page";
}
@section script{
    <script type="text/javascript">
        $(function () { // DOM ready
            $(".toggle").hide();
        });
        $(document).ready(function () {
            $("#phone").on("click", function () {
                var child = $(this).children(".toggle");
                child.toggle(300);
            });
        });
    </script>
}
@section header_slider{
    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                <ul>
                    <h3>Categories</h3>
                    <li id="phone">
                        <a href="#">Mobile Phones</a>
                        <ul class="toggle">
                            <li style="padding-left: 15px;">
                                <a href="#">SamSung</a>
                            </li>
                            <li style="padding-left: 15px;">
                                <a href="#">Apple</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Desktop</a></li>
                    <li><a href="#">Laptop</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Software</a></li>
                    <li><a href="#">Sports &amp; Fitness</a></li>
                    <li><a href="#">Footwear</a></li>
                    <li><a href="#">Jewellery</a></li>
                    <li><a href="#">Clothing</a></li>
                    <li><a href="#">Home Decor &amp; Kitchen</a></li>
                    <li><a href="#">Beauty &amp; Healthcare</a></li>
                    <li><a href="#">Toys, Kids &amp; Babies</a></li>
                </ul>
            </div>
        </div>
        <div class="header_bottom_right">
            <div class="slider">
                <div id="slider">
                    <div id="mover">
                        <div id="slide-1" class="slide">
                            <div class="slider-img">
                                <a href="preview.html"><img src="/Assets/Client/images/slide-1-image.png" alt="learn more" /></a>
                            </div>
                            <div class="slider-text">
                                <h1>Clearance<br><span>SALE</span></h1>
                                <h2>UPTo 20% OFF</h2>
                                <div class="features_list">
                                    <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
                                </div>
                                <a href="preview.html" class="button">Shop Now</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="slide">
                            <div class="slider-text">
                                <h1>Clearance<br><span>SALE</span></h1>
                                <h2>UPTo 40% OFF</h2>
                                <div class="features_list">
                                    <h4>Get to Know More About Our Memorable Services</h4>
                                </div>
                                <a href="preview.html" class="button">Shop Now</a>
                            </div>
                            <div class="slider-img">
                                <a href="preview.html"><img src="/Assets/Client/images/slide-3-image.jpg" alt="learn more" /></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="slide">
                            <div class="slider-img">
                                <a href="preview.html"><img src="/Assets/Client/images/slide-2-image.jpg" alt="learn more" /></a>
                            </div>
                            <div class="slider-text">
                                <h1>Clearance<br><span>SALE</span></h1>
                                <h2>UPTo 10% OFF</h2>
                                <div class="features_list">
                                    <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
                                </div>
                                <a href="preview.html" class="button">Shop Now</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
}

<!--Body-->
<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>New Products</h3>
            </div>
            <div class="see">
                <p><a href="#">See all Products</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="/Assets/Client/images/feature-pic1.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$620.87</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="/Assets/Client/images/feature-pic2.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$899.75</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="/Assets/Client/images/feature-pic3.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$599.00</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="/Assets/Client/images/feature-pic4.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$679.87</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="content_bottom">
            <div class="heading">
                <h3>Feature Products</h3>
            </div>
            <div class="see">
                <p><a href="#">See all Products</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="/Assets/Client/images/new-pic1.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$849.99</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="/Assets/Client/images/new-pic2.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$599.99</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="/Assets/Client/images/new-pic4.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$799.99</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="/Assets/Client/images/new-pic3.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$899.99</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>