﻿@model OnlineShop.Areas.Admin.Models.LoginModel
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Trendy Tab Login Form Flat Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Trendy Tab Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/Assets/Admin/Login/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
    <!-- //web font -->
    <!-- js -->
    <script src="/Assets/Admin/Login/js/jquery.min.js"></script>
    <script src="/Assets/Admin/Login/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <!-- js -->
    <style>
        .msg{
            color:white;
        }
    </style>
    <script>
        $(function () {
            //$(".msg").delay(4000).toggle(1000);
        })
    </script>
</head>
<body>
    <!-- main -->
    <div class="main">
        <h1>Trendy Tab Login Form</h1>
        <div class="login-form">
            <div class="sap_tabs w3ls-tabs">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Sign In</span></li>
                    </ul>
                    <div class="clear"> </div>
                    <div class="resp-tabs-container">
                        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                            <div class="login-agileits-top">
                                @{Html.BeginForm();}
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <p>User Name </p>
                                    @Html.TextBoxFor(Model => Model.UserName, new { @type = "text", @required="required" })
                                    @Html.ValidationMessageFor(Model => Model.UserName, "", new { @class = "msg" })
                                    <p>Password</p>
                                    @Html.TextBoxFor(Model => Model.Password, new { @type = "password", @required = "required" })
                                    @Html.ValidationMessageFor(Model => Model.Password,"", new { @class = "msg" })
                                    <input type="checkbox" name="Remember" id="brand">
                                    <label for="brand"><span></span> Remember me ?</label>
                                    <script>
                                        $(function () {
                                            var remember = $("#brand");
                                            $("#brand").next().on("click", function () {
                                                var attr = remember.attr("checked");
                                                if (typeof attr !== typeof undefined && attr !== false) {
                                                    remember.removeAttr("checked");
                                                    remember.attr("value", "true");
                                                    // Element has this attribute          
                                                } else {
                                                    remember.attr("checked", "checked");
                                                    remember.attr("value", "false");
                                                }
                                            })
                                        })
                                    </script>
                                    <input type="submit" value="Sign In">
                                    <div></div>
                                    <div class="division"></div>
                                    
                                @{ Html.EndForm(); }
                            </div>
                            <div class="login-agileits-bottom">
                                <p><a href="#">Forgot password?</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ResponsiveTabs /Assets/Admin/Login/js -->
            <script type="text/javascript">
				$(document).ready(function () {
					$('#horizontalTab').easyResponsiveTabs({
						type: 'default', //Types: default, vertical, accordion
						width: 'auto', //auto or any width like 600px
						fit: true   // 100% fit in a container
					});
				});
            </script>
            <!-- //ResponsiveTabs js -->
        </div>
    </div>
    <!-- //main -->
    <!-- copyright -->
    <div class="copyright">
        <p> © 2016 Trendy Tab Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
    </div>
    <!-- //copyright -->
</body>
</html>