﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Pooled Admin Panel Category Flat Bootstrap Responsive Web Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="/Assets/Admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="/Assets/Admin/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/Assets/Admin/css/morris.css" type="text/css" />
    <!-- Graph CSS -->
    <link href="/Assets/Admin/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/Assets/Admin/js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="/Assets/Admin/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!--Table-->
    <link rel="stylesheet" type="text/css" href="/Assets/Admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/Admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/Admin/js/jquery.basictable.min.js"></script>


    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
    </script>
    <!--Table-->

    <!--Ckfinder-CKeditor-->
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <!--Ckfinder-CKeditor-->

</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->
                @Html.Partial("_HeaderStartPartial")
                <!--heder end here-->
                <!--Body-->
                @RenderBody()
                <!--Body-->
                <!--inner block end here-->
                <!--copy rights start here-->
                <!--COPY rights end here-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        @Html.Partial("_SlideBarPartial")
        <div class="clearfix"></div>
    </div>
    <script>
        var toggle = true;

        $(".sidebar-icon").click(function () {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            }
            else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({ "position": "relative" });
                }, 400);
            }

            toggle = !toggle;
        });
    </script>
    <!--js -->
    <script src="/Assets/Admin/js/jquery.nicescroll.js"></script>
    <script src="/Assets/Admin/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Assets/Admin/js/bootstrap.min.js"></script>
    <!-- /Bootstrap Core JavaScript -->
    <!-- morris JavaScript -->
    <script src="/Assets/Admin/js/raphael-min.js"></script>
    <script src="/Assets/Admin/js/morris.js"></script>

    <script src="/Assets/Admin/js/AdminController.js"></script>
    @RenderSection("Script", false)
</body>
</html>