﻿<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Home Shoppe Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Assets/Client/css/slider.css" rel="stylesheet" type="text/css" media="all" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--script type="text/javascript" src="/Assets/Client/js/jquery-1.7.2.min.js"></!--script>-->
    <script type="text/javascript" src="/Assets/Client/js/move-top.js"></script>
    <script type="text/javascript" src="/Assets/Client/js/easing.js"></script>
    <script type="text/javascript" src="/Assets/Client/js/startstop-slider.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="header">
            @*@Html.Partial("_HeaderPartial")*@

            @{Html.RenderAction("HeaderSlide", "Home");}
            @RenderSection("header_slider",false)
        </div>
        @RenderBody()
    </div>
    @Html.Partial("_FooterPartial")
    @RenderSection("script",false)
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>
