﻿@model List<Model.ViewModel.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section script{
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    }
<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>New Products</h3>
            </div>
            <div class="see">
                <p><a href="#">See all Products</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quatity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Product.Name</td>
                                <td><input type="text" value="@item.Quantity" class="txtQuantity" /></td>
                                <td>@item.Quantity * @item.Product.Price</td>
                                <td>
                                    <a href="#">Xóa</a>
                                    <a href="#">Sửa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

