﻿@model Model.ViewModel.RegisterModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section script{
    <!-- MetisMenu CSS -->
    <link href="/Assets/Client/bootstrap/css/metisMenu.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Assets/Client/bootstrap/css/sb-admin-2.css" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Assets/Client/bootstrap/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Assets/Client/bootstrap/js/sb-admin-2.js"></script>

    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />
}


<div class="main" style="margin-top:15px;">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Register</li>
        </ol>
    </div>
    <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Register</h3></div>
                <div class="panel-body">
                       @using (Html.BeginForm())
                       {
                           @Html.AntiForgeryToken()
                           @Html.ValidationSummary(false)
                        <fieldset>
                            @if (ViewBag.success != null)
                            {
                                <div class="row">
                                        <div class="form-group">
                                            @Html.Raw(ViewBag.success)
                                        </div>
                                </div>
                            }
                            
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.UserName, new { @class="control-label" })
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.UserName, new { @autufocus="autufocus", @placeholder="User name", @type="text", @class="form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.PasswordFor(model => model.Password, new { @autufocus = "autufocus", @placeholder = "Password", @class = "form-control" })
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                                   
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @autufocus = "autufocus", @placeholder = "Confim Password", @class = "form-control" })
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @{ MvcCaptcha myCaptcha = new MvcCaptcha("myCaptcha"); }
                                        @Html.Captcha(myCaptcha)
                                        @Html.TextBox("CaptchaCode")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-md btn-success">Register</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                       }
                </div>
            </div>
    </div>
</div>

