﻿<!DOCTYPE html>
<html>
<head>
    <title>Thông tin đơn hàng mới</title>
	<meta charset="utf-8" />
</head>
<body>
    Thông tin đơn hàng mới từ khách hàng {{CustomName}} <br />
    Điện thoại: {{Phone}} <br />
    Email: {{Email}} <br/>
    Địa chỉ: {{Address}} <br />
    Trị giá: {{Total}} <br />
</body>
</html>
