﻿@model IEnumerable<Model.DataModel.ProductCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href=@Url.Action("Index", "ProductCategories")>User</a><i class="fa fa-angle-right"></i>Index</li>
</ol>
<p>
    @Html.ActionLink("Create New", "Create", "ProductCategories", new { @type = "button", @class = "btn btn-primary" })
</p>
<div class="agile-grids">
    <!-- tables -->

    <div class="agile-tables">
        <table id="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MetaTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParentID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DisplayOrder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SeoTitle)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShowOnHome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MetaTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeoTitle)
                        </td>
                        <td>
                            @if(item.Status == true){
                                @Html.Raw("Active");
                            }
                            else
                            {
                                @Html.Raw("Disable");
                            }
                            
                            
                        </td>
                        <td>
                            @if(item.ShowOnHome == true)
                            {
                                @Html.Raw("Active");
                            }
                            else
                            {
                                @Html.Raw("Disable");
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
