﻿@model PagedList.IPagedList<Model.DataModel.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href=@Url.Action("Index","Product")>Product</a><i class="fa fa-angle-right"></i>Index</li>
</ol>
<p>
    @Html.ActionLink("Create New", "Create", "Product", new { @type = "button", @class = "btn btn-primary" })
</p>
<div class="agile-grids">
    <!-- tables -->

    <div class="agile-tables">
        <table id="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().MetaTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().PromotionPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().CategoryID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Warranty)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MetaTitle)
                        </td>
                        <td>
                            <img alt="@item.Name" src="@item.Image" style="height:40px;"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PromotionPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Warranty)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
@Html.PagedListPager(Model, pageIndex => Url.Action("Index", new { pageIndex = pageIndex }))